
$header-bg: #111111;

@font-face {
  font-family: ggsans, "hermes";
  src: url("../../fonts/ggsans-Normal.ttf"), url("../../fonts/hermes.otf");
}


  
  .usergame {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    .left-container{
      position: fixed;
      top: 5;
      left: 0;
      flex: 1;
     
    .games {
     margin-left: 10vh;
      margin-bottom: 25vh;
      .game-container {
        position:sticky;
        padding: 5vh 10vh 5vh 10vh;
        box-shadow: 0px 5px 20px 1px;
        border-radius: 2vh;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 50vh;
        background-color: #111111;

        img {
          border-style: solid;
          border-color: #eeff00;
          height: 40%;
          width: 40%;
          object-fit: cover;
          border-radius: 1vh;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease 0s;
          margin-top: 10vh;
          margin-right: 4vh;
        &:hover {
          background-color: #2EE59D;
          box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
          color: #fff;
          transform: translateY(-7px);
        }
        }
        .game-details{ 
        h1 {
          color: yellow;
          margin-left: 3vh;
          margin-top: 8vh;
          font-size: 5vh;
        }
        p{
          font-family: ggsans;
          margin-left: 3vh;
          color:rgb(168, 166, 166);
        }
      }
      }
    }
  }

  .right-container{
    padding-top: 6rem;
    flex: 1;
    margin-left: 100vh;
    margin-bottom: 10rem;
    button{
      max-width: 100%;
      width: 40rem;
      height: 10rem;
      margin-bottom: 5rem;
      border-radius: 2rem;
      background-color: #eeff00;
      font-size: 5.5rem;
      border-style: none;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 1.3s ease 0s;
      cursor: pointer;
      outline: none;
      
      &:hover {
        background-color: #303030;
        box-shadow: 0px .2rem .5rem rgba(217, 255, 0, 0.4);
        color: #f1ed00;
        font-weight: 1000;
        transform: translateY(-4px);
      }
    }
    .post{
      border-radius: 15px;
      height: 20rem;
      width: 20rem;
      background-color: #555555;
    }
  }
}
