$primary-color: yellow;
$shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;

*{
  // margin:0;
  // padding:0;
  font-family: 'hermes';
}


.sidebar {
    position:fixed;
    top: 0;
    left: -25rem;
    width: 20rem;
    height: 100%;
    background-color: #1d1d1d;
    transition: left 0.3s ease-in-out;
    box-shadow: 0px 15px 3rem rgba(7, 7, 7, 0.829);
  }
  
.sidebar.open {
  left: 0;
}

.toggle--default{
  margin: 25px 3rem;
  font-size: 1.75rem;
  font-weight: 400;
  background-color: yellow;
  border-radius: 5px;
  border-style: none;
  color: #000000;
  height: 50px;
  width: 50px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
  outline: none;
  &:hover{
    box-shadow: 0px 0px 25px rgba(28, 243, 0, 0.411);
  }
}
.toggle--container{
  background-color: #2e2e2e;
  height: 25%;
}
.toggle--menu{
  justify-content: center;
  margin: 50px 3rem 2.25rem;
  background-color: transparent;
  border-radius: 5px;
  border-style: none;
  border-color:aliceblue;
  color: $primary-color;
  height: 35px;
  width: 35px;
  font-size: 35px;
  font-weight: 900;
  cursor: pointer;
}

.sidebar--logo_content{
  display: flex;
  justify-content: center;
  // border: solid;
  padding-top: 25px;
  width: 100%;
  height:40px;
  color: $primary-color;
  
  
}

.sidebar--logo_name{
  padding-left: 15px;
  font-weight: 400;
  font-size: 2.5rem;
  padding-top: 15px;
}

.sidebar--list{ 
  height:100%;
  color: $primary-color;
  list-style: none;
  font-size: larger;

}

.sidebar--contents{
  padding: 20px 0px;
  display: flex;
  margin-right: 1.5rem;
  justify-content: center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.sidebar--contents:hover{
  background-color: #d9e52e;
  box-shadow: 0px 15px 20px rgba(46, 54, 0, 0.4);
  color: #000000;
  font-weight: 1000;
  transform: translateY(-7px);
}

.sidebar--link{
  text-decoration: none;
  color:inherit;
}

.links-name{
  margin-left: 15px;
  
}


  