.form-container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.897);
}

.form--title{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.form--body{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50%;
}

.body--title{
    justify-self: center;
    color:yellow;
    font-size: 50px;
}

.body--form{
    border-color:bisque;
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    height: 75%;
    width: 50%;
    font-size: larger;
    margin-bottom: 2vh;
}

.title{
    font-size: 50px;
    color: yellow;
}

.title--input{
    font-size: larger;
    width: 50%;
    border-radius: 15px;
}

.submit{
    text-align: center;
    
}

.submit--button{
    padding: 35px 125px;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border-radius: 1rem;
    margin-bottom: 5rem;
    background-color: white;
    font-size: larger;
}

.submit--button:hover{
    background-color: #d9e52e;
    box-shadow: 0px 15px 20px rgba(46, 54, 0, 0.4);
    color: #000000;
    font-weight: 1000;
    transform: translateY(-7px);
  }