<<<<<<< HEAD
.form-container{
    display:flex;
    flex-direction: column;
=======

form{

.form-container{
    display:flex;
    flex-direction: column;

>>>>>>> 2fc8c572faa5de80513d0e7a30cbd9d5a6029f5b
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.897);
    
}
}
.form--title{
    margin:0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 50rem;

}

.form--body{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    margin: 0 auto;
    // margin: 2.5rem;
    // margin-left: 25%;
    // padding-bottom: 1rem;
    // max-width: 50%;
    // height: 25rem;
    
}

.body--title{
    color:yellow;
    font-size: 50px;
    text-align: center;
}

.body--form{
    background-color: #585858;
    border-color:rgb(194, 236, 7);
    border-style: solid;
    height: 75%;
    width: 100%;
    font-size: 5rem;
    padding: 2rem;
    border-radius: 2rem;
}

.title{
    font-size: 50px;
    color: yellow;
}

.title--input{
    font-size: larger;
    height:3rem;
    border-radius: 2rem;
    background-color: #585858;
    border-color:rgb(194, 236, 7);
}

.submit{
    text-align: center;
    
}

.submit--button{
    margin-top: 2rem;
    padding: 35px 125px;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border-radius: 1rem;
   
    background-color: white;
    font-size: larger;
}

.submit--button:hover{
    background-color: #d9e52e;
    box-shadow: 0px 15px 20px rgba(46, 54, 0, 0.4);
    color: #000000;
    font-weight: 1000;
    transform: translateY(-7px);
  }