.card--list{
    margin:0;
    height: 25vh;
    width: 85vh;
    background-color: black;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    margin-bottom: 3vh;
    
}

.card--title{
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    margin-right: 2vh;
}

li {
    color: white;
    list-style-type: none;
    margin-bottom: 1vh;
}