$body-bg: #4A4A4A;
$header-bg: #111111;
@font-face {
  font-family: ggsans, "hermes";
  src: url("../../fonts/ggsans-Normal.ttf"), url("../../fonts/hermes.otf");
}

//BACKGROUND IMG
body {
  position: relative;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0 ,#424242;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  animation: bg-scrolling-reverse 0.92s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

body::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.858);
}


.account {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  min-height: 100vh;
  width: 100%; /* Add this line */
  font-family: ggsans;
}
.account-info-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5rem;
  background-color: #4b4b4b;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0px .2rem 5rem rgba(0, 0, 0, 0.432);


  .account-buttons-container{
    display: flex;
    flex-direction: column;
    

    .account-button {
      width: 25vh;
      height: 6.5vh;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5vh;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #fcfcfc;
      background-color: #1a1a1a;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
      margin-top: 3rem;
      &:hover {
        background-color: #d9e52e;
        box-shadow: 0px 15px 20px rgba(0, 54, 16, 0.4);
        color: #000000;
        font-weight: 1000;
        transform: translateY(-7px);
      }
    }
  }
}

.account-info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}



.user-container {
  background-color: #575555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  box-shadow: 0px .2rem 5rem rgba(0, 0, 0, 0.432);

  &:hover{
    background-color: #b7d605;
   
  }
  
}


.user-name {
  font-size: 4rem;
  margin-top: 2rem;
  font-weight: 900;
  font-family: "hermes";
}

.divider{
  position: static;
  width: .5rem;
  background-color: #f7f30673;
  border-radius: 2rem;
  box-shadow: 0px .2rem 5rem rgba(0, 0, 0, 0.432);

}

.account-follow-button{
  background-color: #b7d605;
  height: 3vh;
  padding: 1.5vh 1.5vh 3.0vh 1.5vh;
  margin: 20vh 0 0 5vh;
  text-align: center;
  border-radius: 1vh;
  font-size: 1.5vh;
  cursor: pointer;
  outline: none;
 
}
.account-info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10rem;

  .account-button-edit{
    width: 25rem;
      height: 6.5vh;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5vh;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #fcfcfc;
      background-color: #1a1a1a;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
      margin-top: 3rem;
      &:hover {
        background-color: #d9e52e;
        box-shadow: 0px 15px 20px rgba(0, 54, 16, 0.4);
        color: #000000;
        font-weight: 1000;
        transform: translateY(-7px);
      }
  }
}

.account-info-row {
  display: flex;
  margin-bottom: 1rem;
}

.account-info-label {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}

.account-info-value {
  font-size: 2rem;
  color:#131313;
}

.account-info-label-password{
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
  margin-top: 1.8rem;

  .account-info-password {  
  
    background-color: #83414100;
    border: none;
    
    font-size: 2rem;
    width: 60%;
    
    padding: 0.5rem;
    &:focus {
      outline: none;
    }
  }

}
.password-container {
  position: relative;
  display:flex;
  margin-left: 3rem;
  .password-toggle{
    margin-left: 2rem;
    width: 15vh;
    height: 12vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1vh;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fcfcfc;
    background-color: #1a1a1a;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: #181818;
      box-shadow: 0px 15px 20px rgba(0, 54, 16, 0.4);
      color: #b7d605;
      font-weight: 1000;
      transform: translateY(-3px);
    }
  }
  
}





