.home{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
    order: 1px solid black;
    border-radius: 12px;
    width: 95%;
    height: 98%;
    display: flex;
    overflow: hidden;
    background-color: antiquewhite;
    }
}